/* universal selector */
*{
    margin: 0;
    padding: 0;
}

/* styles on navbar section */
.nav-container{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: rgba(172, 166, 166, 0.5);
    border-bottom:1px solid rgba(227, 227, 227,);;
}
.logo-container{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 18px;
    color: cyan;
}
.logo{
    width: 180px;
}
.items{
    display: flex;
    list-style: none;
}
.item{
    margin-right: 10px;
    padding: 10px;
    font-size: 19px;
    text-decoration: none;
    cursor: pointer;
}

/* styles on banner section */
.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url('../asset/image/background.jpg'), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-info{
    width: 100%;
    margin: 0 auto;
}
.title{
    font-size:86px;
    font-weight:900;
    color: white;
}
.primary{
    color: rgb(245, 44, 44)
}
.description{
    font-size: 22px;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    margin: auto;
}
.btn{
    padding: 10px 30px;;
    font-size: 16px;
    border: none;
    margin: 2%;
}
.btn-primary{
    background-color:rgb(245, 44, 44);
    color: white;
}
    
.service-container{
    height: 100vh;
    background-image: url("../asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    /* background-position: center; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px;
}
.icon{
    width: 100px;
}
.box{
    text-align: center;
    width: 150px;
    height: 100px;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    color: black;
}
.service-description{
    width: 50%;
}
.first-two-boxes{
    display: flex;
    gap:10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.box, .box-title{
    padding-bottom: 60px;
}

.author-img{
    width: 70px;
    height: 70px;
    border-radius:35px ;
}
.author-container{
    display: flex;
    gap:20px;
    align-items: center;

}
.profile-container{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 55px;
    /* border-right: 1px solid red;
    padding-right: 60px; */
}
.author-button{
    border-left: 1px solid red;
    padding-right: 10px;
}
/* .author-button{
    padding: 15px 30px;
    margin-left: 11px;
    border-radius: 25px;
    background-color: none;
    border: 1px solid rgb(51, 48, 48);
    color: rgb(12, 10, 10);
} */

.btn-details{
    padding: 15px 30px;
    margin-left: 11px;
    border-radius: 25px;
    background-color: none;
    border: 1px solid rgb(51, 48, 48);
    color: rgb(12, 10, 10);
}
.title-service{
    font-size: 40px;
    font-weight: bold;
    padding: 7px;
    color: rgb(190, 207, 208);
}
.service-description{
    width: 75%;
    font-size: 20px;
    padding: 7px;
    color:rgb(190, 207, 208); ;
}
.service-list{
    /* list-style:decimal ; */
    padding: 20px;
    font-size: 18px;
    color: rgb(190, 207, 208);
}

/* appointment section styles */

.appointment-section{
    width: 75%;
    padding: 15px;
    background-color:rgb(245, 44, 44);
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    margin: auto;
    align-items: center;
    border-radius: 15px;
    margin-top: -30px;
    color: white;
    

}
.call-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-right: 2px solid gray;
}
.appointment-desc{
    padding: 10px;
    text-align: justify;
}
.icon-appointment{
    width: 100px;
    padding: 15px;
}
.btn-appointment{
    padding: 12px 25px;
    margin-left: auto;
    border-radius: 25px;
    background-color: none;
    border: 1px solid rgb(51, 48, 48);
    color: rgb(12, 10, 10);
} 
/* starting blog section styles */
.blog-intro{
    text-align: center;
    margin-top: 30px;
}
.blogs-title{
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    color: rgb(12, 27, 27);
}
.blog-desc{
    font-size:22px;
    width: 50%;
    margin: auto;
}